* {
    box-sizing: border-box;
}

body, html {
   
    box-sizing: border-box;
    background-image: url("port-bg/portfolio.png");
    background-size: cover;
    max-width: 100%;
    text-align: center;
}

header {
    text-align: justify;
    flex-direction: column;
}

nav ul {
    display: flex   ;
    justify-content: center;
    font-size: 1em;
    justify-content: space-evenly;
    position: fixed;
    background-color:rgb(96, 46, 12);
    top: 0;
    left: 0;
    width: 100%;    
    padding: 1em;
    z-index: 1000px; 
    margin: 0 0;
    padding: .1em;
   
}

img {
    flex-direction: column;
    display: flex;
    height: 3em;
    margin: 10;
}

nav ul li {
    display: inline;
    font-family: fantasy;   
    padding: 1em;
}

nav ul li a {
    color: white;
    text-decoration: none;
    justify-content: center;
}

nav ul li a:hover {
    color: rgb(185, 64, 84);
} 

 section{
    background-color:rgb(96, 46, 12);
    padding: 13px;
    max-width: 900vw;
    margin: 7% auto;
    max-width: 90%;
    color: rgb(240, 199, 169);
    background-color: #62230f;
    border-radius: 27px;
    border: 10%;
    font-family: fantasy;
} 

.gallery {
    text-align: center;
}
  
.gallery ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
  
.gallery ol{
    justify-content: justify;
}

.gallery li {
    margin: 1%;
    padding: .5%;
}
  
.gallery img {
    display: flex;
    object-fit: cover;
    height: 250px;
}

.poem{
    word-break: break-all;
    font-family: serif;
    font-size: 13px;
    text-align: center;

}

.verse{
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    justify-content: center;
}


.com{
    margin: 1%;
    padding: .5%;
    text-align: center;
}

.com h2{
    color: bisque;
}

.com img{
    margin-left: 30%;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    object-fit: cover;
    height: 200px;
}

